@import url(<linkrel="stylesheet"href="https://use.typekit.net/bmh6rcg.css">);

body {
  font-family: Proxima Nova, Verdana, Tahoma, sans-serif;
}

h1,
h2,
h3,
.logolink {
  font-family: Ambroise Std, Cambria, Georgia, serif;
}

.logolink {
  color: #012578;
  font-size: 2rem;
  text-decoration: none;
}

.logo {
  max-width: 50px;
}

.open {
  background-color: #57164e;
  color: #ffffff;
  font-size: 1, 3rem;
  text-align: center;
}

nav li {
  display: inline;
  align-items: center;
}

nav a {
  color: #012578;
  padding: 35 rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footercontain {
  display: flex;
  justify-content: space-around;
}

.item {
  flex: 1;
}

.list {
  flex: 4;
}

/* Homepage */
.home {
  background-image: url("../images/images_home_page/planet_sun_rising.jpg");
  background-size: 100%;
  min-height: 80vh;
}

header section {
  color: #012578;
}

.log {
  color: #012578;
}

.explore {
  color: #ffffff;
  background-color: #4a7e85;
}

.article {
  max-width: 300px;
}

.article__image {
  width: 100%;
}

.event {
  max-width: 400px;
}

.event__image {
  max-width: 100%;
}

.button1,
.button2 {
  background-color: #a83799;
  color: #ffffff;
  text-decoration: none;
  font-size: 3, 4rem;
}

.footer {
  color: #ffffff;
  background-color: #4a7e85;
}

/* Explore page */

.forkids {
  max-width: 400px;
}

.forkids__image {
  max-width: 100%;
}

.forteachers {
  max-width: 500px;
}

.forteachers__image {
  max-width: 100%;
}

/* Exhibitions */

.cos {
  max-width: 300px;
}

.cos__image {
  max-width: 100%;
}

/* Events and exhibitions*/

.eve {
  max-width: 400px;
}

.eve__image {
  max-width: 100%;
}
